/*

0   -   600px           : phone
600 -   900px           : tablet portrait
900 -   1200px          : tablet landscape

[1200 - 1800pc] id where out normal styles apply
1800px+                 : Big Desktop

breakpoint choices

--phone
--tab-port
--tab-land
--bid-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*defines Font size what 1rem is */
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #18D4CA;
  color: #ffffff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #24283B; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.6rem;
  font-size: 6.5rem; }

.large-hero {
  position: relative;
  height: 85vh; }
  .large-hero::after {
    content: "";
    clear: both;
    display: table; }
  .large-hero__left {
    width: 35%;
    float: left; }
  .large-hero__right {
    height: 100%;
    width: 65%;
    float: left;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative; }
  .large-hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(216, 216, 216, 0.2);
    padding: 9rem;
    border-radius: 10px; }
