/*

0   -   600px           : phone
600 -   900px           : tablet portrait
900 -   1200px          : tablet landscape

[1200 - 1800pc] id where out normal styles apply
1800px+                 : Big Desktop

breakpoint choices

--phone
--tab-port
--tab-land
--bid-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*defines Font size what 1rem is */
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #18D4CA;
  color: #ffffff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #24283B; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.6rem;
  font-size: 6.5rem; }

.form-header {
  font-weight: 400;
  margin-bottom: 1rem; }
  .form-header__main {
    font-size: 2rem; }
  .form-header__sub {
    font-size: 1.4rem;
    line-height: 160%; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 3rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-right-medium {
  margin-right: 5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 50rem;
      padding-bottom: 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 *(6rem) ) / 3); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 *(6rem) ) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *(6rem) ) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ( (100% - 3 *(6rem) ) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ( (100% - 3 *(6rem) ) / 4) + 2 *(6rem)); }

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 1rem;
  display: inline-block;
  transition: all .2s;
  font-family: inherit; }

.btn--blue {
  color: #18D4CA;
  background-color: #24283B; }

.btn--aqua {
  color: #24283B;
  background-color: #18D4CA; }

.btn:hover, .btn:focus {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.link, .link:link, .link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #24283B;
  letter-spacing: 1px;
  transition: all .3s; }

.link:hover {
  padding-bottom: .5rem;
  border-bottom: 2px solid #18D4CA; }

.form__group:not(:last-child) {
  margin-bottom: 2.5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #18D4CA; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .9rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__checkbox {
  width: 49%;
  display: inline-block; }
  .form__checkbox-input {
    display: none; }
  .form__checkbox-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 3rem; }
  .form__checkbox-button {
    height: 2rem;
    width: 2rem;
    border: 2px solid #18D4CA;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.1rem; }
    .form__checkbox-button::after {
      opacity: 0;
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #18D4CA;
      transform: translate(-50%, -50%);
      transition: opacity .2s; }

.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::after {
  opacity: 1; }

.form__link {
  width: 49%;
  display: inline-block;
  padding-right: 5rem; }

.site-header {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  .site-header__logo {
    position: absolute;
    top: 2;
    color: #18D4CA;
    padding: 20px 0; }
    .site-header__logo-text {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 2px; }

.primary-nav {
  float: right; }
  .primary-nav--pull-right ul {
    margin: 0;
    padding: 0; }
  .primary-nav--pull-right li {
    list-style: none;
    display: inline-block;
    float: left;
    padding-right: 3rem; }
  .primary-nav--pull-right a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 20px 0;
    display: block; }

.large-hero {
  position: relative;
  height: 85vh; }
  .large-hero::after {
    content: "";
    clear: both;
    display: table; }
  .large-hero__left {
    height: 100%;
    width: 35%;
    float: left;
    background-color: #eee; }
  .large-hero__right {
    height: 100%;
    width: 65%;
    float: right;
    background-image: linear-gradient(to right bottom, rgba(58, 58, 58, 0.4), rgba(58, 58, 58, 0.4)), url("../img/hero-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative; }
  .large-hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(216, 216, 216, 0.2);
    padding: 9rem;
    border-radius: 10px; }
  .large-hero__form {
    width: 100%;
    margin-top: 10rem;
    padding: 5rem; }
