.large-hero {
    position: relative;
    height: 85vh;

    &__left{
      width: 40%;
      float: left;            
    }
    &__right{      
      height: 100%;
      width: 60%;
      float: left;            
      background-color: orangered;
    }
}