.large-hero {
  position: relative;
  height: 85vh;
  @include clearfix;

  &__left {
    height: 100%;
    width: 35%;
    float: left;
    background-color: $color-grey-light-2;
  }
  &__right {
    height: 100%;
    width: 65%;
    float: right;
    background-image: linear-gradient(
        to right bottom,
        rgba(#3A3A3A, 0.4),
        rgba(#3A3A3A, 0.4)
      ),
      url("../img/hero-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(#D8D8D8, 0.2);
    padding: 9rem;
    border-radius: 10px;
  }

  &__form{
    width: 100%;
    margin-top: 10rem;
    padding: 5rem;
  }
}
